html {
  font-size: 85%;
}

body.main-website {
  box-sizing: border-box;
  padding: 2.4rem;
}

::selection {
  background-color: $color-green;
  color: $color-white;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
