<header class="landing-header">
  <div class="landing-header__logo-box">
    <i
      alt="Logo"
      class="ni ni-image landing-header__logo"
      style="color: white; font-size: 3rem"
    >
    </i>
  </div>

  <div class="landing-header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">ALBUMS</span>
      <span class="heading-primary--sub">capturing moments</span>
    </h1>

    <a routerLink="/login" class="btn-main btn-main--white btn-main--animated"
      >Login</a
    >
  </div>
</header>
