.card-main {
  // FUNCTIONALITY
  perspective: 40rem;
  -moz-perspective: 40rem;
  position: relative;
  height: 14rem;

  &__side {
    height: 14rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0.9rem 2.5rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-orange-light,
          $color-orange-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-green-light,
          $color-green-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-blue-light,
          $color-blue-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 14rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-orange-light,
          $color-orange-dark
        ),
        url(https://picsum.photos/id/1024/1920/1280);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-green-light,
          $color-green-dark
        ),
        url(https://picsum.photos/id/1024/1920/1280);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-blue-light,
          $color-blue-dark
        ),
        url(https://picsum.photos/id/1024/1920/1280);
    }
  }

  &__heading {
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: $color-black;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 100%;
    transform: translate(50%, -50%);
  }

  &__heading-span {
    padding: 0.6rem 0.9rem;
  }

  // FRONT SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
}
